.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navImg {
  width: 150px;
}
img {
  width: 300px;
  height: auto;
}
.turn {
  transform: rotate(90deg);
  padding: 50px 0;
}
nav a {
  font-size: 28px;
}
#mainNav {
  background-color: black !important;
}

.navImg {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation: 2s shake infinite alternate
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}