.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pageFlex {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.pageCenter {
  margin: 0 50px;
  text-align: center;
}
.skills.card, .about.card {
  max-width: 300px;
}
.card {
  margin: 10px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.navImg {
  width: 100px;
}
img {
  width: 300px;
  height: auto;
}
.turn {
  transform: rotate(90deg);
  padding: 50px 0;
}
nav a {
  font-size: 28px;
  color: purple;
}
nav a:hover {
  color: purple;
}
.navImg {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation: 2s shake infinite alternate
}
footer {
  background-color: rgb(77, 25, 77);
  color: white;
}
